*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;

    padding: 30px;
    gap: 20px;
}

/*---------------------------------------------*/
.temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperature .temp-value {
    font-size: 60px;
    font-weight: bold;
}

.temperature .time {
    font-size: 18px;
    font-style: italic;
    color: gray;
}

/*---------------------------------------------*/
.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    text-align: center;
}

.stat-label {
    font-weight: bold;
}

/*---------------------------------------------*/
.table-container{
    flex: 1;
    display: flex;
    border: 1px solid black;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: gray;
    font-weight: bold;
}

/*---------------------------------------------*/
.chart{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chart canvas {
    max-width: 800px;
    width: 100%;
    height: auto;
}